<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebRTC</title>

    <style>
        table {
            border-collapse: collapse;
            -webkit-filter: blur(5px);
        }

        td {
            height: 20px;
            width: 20px;
            transition: background 0.2s;
        }
    </style>
</head>
<body>
<table>
    {{ range $i, $c := . }}
    <tr>
        {{ range $j, $r := $c }}
            <td id="left_mtp_{{$i}}_{{$j}}"></td>
        {{ end }}
    </tr>
    {{ end }}
</table>
<hr>
<table>
    {{ range $i, $c := . }}
    <tr>
        {{ range $j, $r := $c }}
        <td id="right_mtp_{{$i}}_{{$j}}"></td>
        {{ end }}
    </tr>
    {{ end }}
</table>

<div>FPS: <span id="fps">0</span> <button id="connect">Connect</button></div>
<script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="//webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="/static/controls.js"></script>
</body>
</html>